# Topic Modeling

## Topic Modeling - Attempt #1 (All Text)

In [1]:
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abject,...,zee,zen,zeppelin,zero,zillion,zombie,zombies,zoning,zoo,éclair
ali,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
bo,0,1,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
dave,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,0,3,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [6]:
!pip install gensim

Collecting gensim
  Downloading gensim-3.8.3-cp37-cp37m-win_amd64.whl (24.2 MB)
Requirement already satisfied: scipy>=0.18.1 in c:\users\mitta\anaconda3\lib\site-packages (from gensim) (1.4.1)
Requirement already satisfied: numpy>=1.11.3 in c:\users\mitta\anaconda3\lib\site-packages (from gensim) (1.16.5)
Collecting smart-open>=1.8.1
  Downloading smart_open-2.1.0.tar.gz (116 kB)
Collecting Cython==0.29.14
  Downloading Cython-0.29.14-cp37-cp37m-win_amd64.whl (1.7 MB)
Requirement already satisfied: six>=1.5.0 in c:\users\mitta\appdata\roaming\python\python37\site-packages (from gensim) (1.12.0)
Requirement already satisfied: requests in c:\users\mitta\anaconda3\lib\site-packages (from smart-open>=1.8.1->gensim) (2.22.0)
Requirement already satisfied: boto in c:\users\mitta\anaconda3\lib\site-packages (from smart-open>=1.8.1->gensim) (2.49.0)
Collecting boto3
  Downloading boto3-1.14.48.tar.gz (97 kB)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\mitta\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\mitta\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mitta\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mitta\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (1.24.2)
Collecting botocore<1.18.0,>=1.17.48
  Downloading botocore-1.17.48-py2.py3-none-any.whl (6.5 MB)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading s3transfer-0.3.3-py2.py3-none-any.whl (69 kB)
Requirement already satisfied: docutils<0.16,>=0.10 in c:\users\mitta\anaconda3\lib\site-packages (from botocore<1.18.0,>=1.17.48->boto3->smart-open>=1.8.1->gensim) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\mitta\anaconda3\lib\site-packages (from botocore<1.18.0,>=1.17.48->boto3->smart-open>=1.8.1->gensim) (2.8.0)
Building wheels for collected packages: smart-open, boto3
  Building wheel for smart-open (setup.py): started
  Building wheel for smart-open (setup.py): finished with status 'done'
  Created wheel for smart-open: filename=smart_open-2.1.0-py3-none-any.whl size=110323 sha256=17cd23d2b0f0243ae45ff98403784cfc506376a91d833d036df3fa9f4971e0cd
  Stored in directory: c:\users\mitta\appdata\local\pip\cache\wheels\56\b5\6d\86dbe4f29d4688e5163a8b8c6b740494310040286fca4dc648
  Building wheel for boto3 (setup.py): started
  Building wheel for boto3 (setup.py): finished with status 'done'
  Created wheel for boto3: filename=boto3-1.14.48-py2.py3-none-any.whl size=127855 sha256=b934a4ef2ef13eafc12dfeb43b991d20e11c6588f750788d8f693fe1d51fef62
  Stored in directory: c:\users\mitta\appdata\local\pip\cache\wheels\b0\f8\d9\d2a816eb3b5fed353cf3e7746d2c3bd0cac694045d063a2b53
Successfully built smart-open boto3
Installing collected packages: jmespath, botocore, s3transfer, boto3, smart-open, Cython, gensim
  Attempting uninstall: Cython
    Found existing installation: Cython 0.29.13
    Uninstalling Cython-0.29.13:
      Successfully uninstalled Cython-0.29.13
Successfully installed Cython-0.29.14 boto3-1.14.48 botocore-1.17.48 gensim-3.8.3 jmespath-0.10.0 s3transfer-0.3.3 smart-open-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from gensim import matutils, models
import scipy.sparse

In [8]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

,ali,anthony,bill,bo,dave,hasan,jim,joe,john,louis,mike,ricky
aaaaah,0,0,1,0,0,0,0,0,0,0,0,0
aaaaahhhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaaauuugghhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaahhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaah,0,0,0,0,1,0,0,0,0,0,0,0

In [29]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts) # corpus is a set of words

In [30]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

C:\Users\mitta\Anaconda3\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator CountVectorizer from version 0.18.2 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [31]:
id2word

{3681: 'ladies',
 2751: 'gentlemen',
 7249: 'welcome',
 6272: 'stage',
 157: 'ali',
 7356: 'wong',
 3096: 'hi',
 3075: 'hello',
 6661: 'thank',
 1355: 'coming',
 5910: 'shit',
 1042: 'cause',
 4796: 'pee',
 4202: 'minutes',
 2271: 'everybody',
 6974: 'um',
 2295: 'exciting',
 1707: 'day',
 7422: 'year',
 6924: 'turned',
 7431: 'yes',
 283: 'appreciate',
 6970: 'uh',
 6617: 'tell',
 2765: 'getting',
 4565: 'older',
 2781: 'girl',
 412: 'automatic',
 6695: 'thought',
 2665: 'fuck',
 6375: 'straight',
 3492: 'jealous',
 2597: 'foremost',
 4147: 'metabolism',
 2784: 'girls',
 2102: 'eat',
 6021: 'sixpack',
 6665: 'thatthat',
 551: 'beautiful',
 3365: 'inner',
 6683: 'thigh',
 1245: 'clearance',
 2429: 'feet',
 6677: 'theres',
 3228: 'huge',
 2708: 'gap',
 3816: 'light',
 5032: 'potential',
 5261: 'radiating',
 6712: 'throughand',
 6055: 'sleep',
 3378: 'insomnia',
 195: 'ambien',
 1992: 'download',
 4103: 'meditation',
 4520: 'oasis',
 4959: 'podcast',
 949: 'calm',
 1120: 'chatter',
 5394: 'regret',
 5461: 'resentment',
 2380: 'family',
 1295: 'cluttering',
 4184: 'mind',
 3849: 'lives',
 122: 'ahead',
 3223: 'hpv',
 4784: 'peace',
 4454: 'night',
 4562: 'ok',
 1339: 'come',
 2671: 'fucking',
 3895: 'loser',
 5706: 'says',
 3900: 'lot',
 4127: 'men',
 6998: 'undetectable',
 5329: 'really',
 2666: 'fucked',
 2768: 'ghost',
 3373: 'inside',
 4129: 'mens',
 722: 'bodies',
 735: 'boo',
 7350: 'womens',
 1945: 'doctor',
 6768: 'told',
 6377: 'strains',
 3632: 'kind',
 6923: 'turn',
 1071: 'cervical',
 966: 'cancer',
 723: 'body',
 3044: 'heal',
 3081: 'helpful',
 518: 'basically',
 1852: 'die',
 5063: 'presence',
 7345: 'wolverine',
 655: 'bitches',
 3635: 'kindle',
 6925: 'turning',
 5811: 'selfhelp',
 3802: 'library',
 3403: 'interested',
 740: 'books',
 5867: 'shades',
 2887: 'grey',
 3810: 'lifechanging',
 3960: 'magic',
 6727: 'tidying',
 1742: 'declutter',
 3153: 'home',
 42: 'achieve',
 4614: 'optimum',
 3786: 'level',
 6449: 'success',
 3193: 'horrible',
 4834: 'person',
 2998: 'happy',
 3079: 'help',
 6782: 'tony',
 5553: 'robbins',
 4110: 'mei',
 3137: 'hoarding',
 5105: 'problem',
 3184: 'hoping',
 1059: 'center',
 5106: 'problems',
 2814: 'goes',
 429: 'away',
 1888: 'disappear',
 4252: 'mom',
 7378: 'world',
 1524: 'country',
 6589: 'taught',
 6713: 'throw',
 1847: 'dictators',
 4664: 'overtake',
 6115: 'snatch',
 7220: 'wealth',
 602: 'better',
 3140: 'hold',
 5484: 'retainer',
 2846: 'grade',
 2980: 'handy',
 5946: 'shovel',
 913: 'busy',
 6432: 'stuffing',
 2816: 'gold',
 915: 'butt',
 5626: 'running',
 1370: 'communiststhe',
 5663: 'san',
 2626: 'francisco',
 6906: 'trying',
 5519: 'rid',
 7386: 'worst',
 2324: 'experience',
 3809: 'life',
 2183: 'emotional',
 5749: 'screaming',
 2465: 'fighting',
 7427: 'yelling',
 954: 'came',
 1256: 'climax',
 5385: 'refused',
 3780: 'let',
 6656: 'texas',
 3392: 'instruments',
 4007: 'manual',
 940: 'calculator',
 5104: 'probably',
 486: 'bamboozled',
 2738: 'generation',
 5455: 'required',
 922: 'buy',
 1510: 'cost',
 3560: 'judy',
 3516: 'jetsons',
 3702: 'laptop',
 2694: 'future',
 2870: 'graph',
 6642: 'tesla',
 4406: 'need',
 1240: 'clean',
 5111: 'procrastinator',
 258: 'anymore',
 36: 'according',
 1747: 'deepakoprah',
 7216: 'way',
 2886: 'grew',
 4758: 'past',
 4028: 'married',
 3987: 'man',
 3924: 'lucky',
 2927: 'guy',
 2725: 'gave',
 2600: 'forever',
 1694: 'dated',
 3896: 'losers',
 3901: 'lots',
 6027: 'skaters',
 7183: 'wanna',
 2902: 'grownass',
 7346: 'woman',
 6364: 'stop',
 1697: 'dating',
 7013: 'unless',
 7168: 'wake',
 4068: 'mattress',
 3645: 'kitchen',
 6681: 'theyre',
 5863: 'sexy',
 4648: 'outside',
 3984: 'malt',
 3835: 'liquor',
 3251: 'husband',
 4146: 'met',
 7232: 'wedding',
 3092: 'hes',
 3884: 'looking',
 3744: 'league',
 5699: 'saw',
 2809: 'god',
 6685: 'thing',
 3749: 'learned',
 388: 'attending',
 3014: 'harvard',
 910: 'business',
 5724: 'school',
 6846: 'trap',
 347: 'ass',
 2815: 'going',
 6847: 'trapped',
 3361: 'initially',
 3644: 'kissing',
 2459: 'fifth',
 1693: 'date',
 7028: 'unusual',
 1850: 'did',
 5195: 'purpose',
 3654: 'knew',
 1029: 'catch',
 2835: 'gotta',
 3976: 'make',
 2058: 'dude',
 576: 'believe',
 5780: 'secret',
 2711: 'garden',
 5170: 'public',
 4727: 'park',
 3204: 'hosted',
 5390: 'reggae',
 2446: 'fests',
 33: 'accidentally',
 3155: 'homeless',
 3123: 'hipsters',
 6369: 'store',
 7044: 'urban',
 4643: 'outfitters',
 6686: 'things',
 1426: 'confusing',
 3122: 'hipster',
 542: 'beard',
 2399: 'fashion',
 7192: 'warmth',
 2991: 'happened',
 3852: 'living',
 832: 'broad',
 1709: 'daylight',
 1144: 'chemistry',
 3094: 'hey',
 7204: 'wassup',
 7148: 'volvo',
 2036: 'drop',
 2037: 'dropped',
 2817: 'golden',
 2721: 'gate',
 7208: 'watched',
 5623: 'run',
 4167: 'middle',
 2652: 'friends',
 336: 'asian',
 5920: 'shocked',
 7059: 'usually',
 337: 'asianamerican',
 7349: 'women',
 7223: 'wear',
 3633: 'kinda',
 2795: 'glasses',
 4609: 'opinions',
 7285: 'white',
 2059: 'dudes',
 4415: 'neighborhood',
 3974: 'major',
 1217: 'city',
 197: 'america',
 7438: 'yoko',
 4593: 'ono',
 2358: 'factory',
 7266: 'whats',
 7407: 'wrong',
 2425: 'feel',
 4887: 'picturesque',
 7254: 'wes',
 215: 'anderson',
 4311: 'movie',
 6596: 'teach',
 1483: 'cool',
 6430: 'stuff',
 7151: 'voting',
 5362: 'recycling',
 1934: 'disturbing',
 1948: 'documentaries',
 3415: 'introduce',
 3205: 'hot',
 3176: 'hookin',
 4087: 'mean',
 3978: 'makes',
 5042: 'powerful',
 2105: 'eats',
 5208: 'pussy',
 19: 'absorbing',
 5101: 'privilege',
 2226: 'entitlement',
 4259: 'money',
 3143: 'hole',
 7154: 'vulnerable',
 1610: 'crush',
 3033: 'head',
 4253: 'moment',
 3624: 'kill',
 789: 'brains',
 1331: 'colonize',
 1332: 'colonizer',
 3661: 'knowbut',
 4026: 'marriage',
 4446: 'nice',
 6151: 'somebody',
 5254: 'race',
 85: 'advantage',
 5260: 'racist',
 5702: 'say',
 2332: 'explain',
 2949: 'halffilipino',
 2951: 'halfjapanese',
 2947: 'halfchinese',
 2954: 'halfvietnamese',
 6210: 'spend',
 4823: 'percent',
 5915: 'shitting',
 3668: 'korean',
 193: 'amazing',
 3910: 'love',
 870: 'built',
 3664: 'knowmy',
 778: 'boyfriend',
 1616: 'cuban',
 4157: 'mexican',
 2928: 'guys',
 300: 'arent',
 6992: 'underrated',
 5857: 'sexiest',
 2939: 'hair',
 4404: 'neck',
 3980: 'making',
 1962: 'dolphin',
 6107: 'smooth',
 6071: 'slip',
 6062: 'slide',
 665: 'black',
 2504: 'fish',
 6734: 'tilikum',
 554: 'bed',
 4598: 'oohwee',
 4140: 'mess',
 3518: 'jewish',
 5363: 'red',
 3350: 'inflamed',
 340: 'ask',
 2304: 'exfoliated',
 6761: 'today',
 3491: 'jdate',
 3881: 'loofah',
 6662: 'thanks',
 5613: 'rug',
 899: 'burn',
 421: 'avi',
 4544: 'odor',
 6093: 'smell',
 5477: 'responsibility',
 6975: 'umami',
 2533: 'flavor',
 1348: 'comes',
 2661: 'fromi',
 7026: 'unspoken',
 6994: 'understanding',
 2948: 'halffancy',
 2952: 'halfjungle',
 1857: 'difference',
 2386: 'fancy',
 338: 'asians',
 1173: 'chinese',
 3484: 'japanese',
 3203: 'host',
 4574: 'olympics',
 3572: 'jungle',
 1907: 'diseases',
 1859: 'different',
 2098: 'east',
 1299: 'coast',
 5100: 'private',
 4943: 'playing',
 3679: 'lacrosse',
 3750: 'learning',
 3715: 'latin',
 1149: 'chess',
 5614: 'rugby',
 2470: 'filipino',
 1002: 'carlton',
 1851: 'didnt',
 7120: 'vietnamese',
 1696: 'dates',
 6783: 'took',
 5480: 'restaurant',
 7255: 'west',
 3893: 'los',
 222: 'angeles',
 945: 'called',
 4861: 'pho',
 409: 'authentic',
 5314: 'read',
 7429: 'yelp',
 4506: 'number',
 5778: 'second',
 525: 'bathroom',
 3768: 'legit',
 1983: 'double',
 6490: 'supply',
 1276: 'closet',
 2698: 'gallons',
 676: 'bleach',
 374: 'atm',
 3946: 'machine',
 2860: 'grandma',
 2796: 'glaucoma',
 4377: 'napping',
 1495: 'corner',
 7163: 'wait',
 6271: 'staff',
 3752: 'leave',
 1717: 'deaf',
 2184: 'emotionally',
 22: 'abused',
 6793: 'total',
 617: 'big',
 3120: 'hippies',
 454: 'backpack',
 6182: 'southeast',
 335: 'asia',
 7435: 'yoga',
 437: 'ayahuasca',
 1067: 'ceremonies',
 5986: 'silent',
 5489: 'retreats',
 4780: 'pay',
 5960: 'shut',
 7238: 'weekend',
 2805: 'glutenfree',
 4091: 'means',
 800: 'bread',
 6585: 'tastes',
 2639: 'freerange',
 1153: 'chewbacca',
 3776: 'lesbian',
 6697: 'thousand',
 1663: 'daily',
 2452: 'fiber',
 6235: 'spoken',
 7362: 'word',
 4963: 'poetry',
 5226: 'queef',
 5916: 'shitty',
 4961: 'poem',
 6492: 'supporting',
 933: 'caitlyn',
 3501: 'jenner',
 2691: 'funny',
 3121: 'hippydippy',
 1957: 'doing',
 3311: 'impression',
 5757: 'scrolls',
 7174: 'wall',
 860: 'buddha',
 4895: 'piggy',
 495: 'bank',
 4891: 'pier',
 3307: 'imports',
 5158: 'providing',
 2821: 'good',
 2441: 'feng',
 5958: 'shui',
 3210: 'house',
 7423: 'years',
 6119: 'sneaking',
 6513: 'suspicion',
 5144: 'propose',
 5073: 'pressuring',
 7156: 'wacky',
 3421: 'intuition',
 5143: 'proposals',
 7366: 'work',
 3320: 'incept',
 3267: 'idea',
 4004: 'mans',
 4756: 'passively',
 1952: 'doesnt',
 4141: 'message',
 2344: 'extremely',
 114: 'aggressively',
 6700: 'threaten',
 60: 'actually',
 3754: 'leaving',
 4564: 'old',
 3710: 'late',
 4437: 'new',
 6295: 'start',
 4000: 'manipulation',
 1654: 'cycle',
 6344: 'stick',
 2571: 'focus',
 6848: 'trapping',
 4362: 'nag',
 4652: 'outta',
 7218: 'weak',
 1048: 'caves',
 2763: 'gets',
 2421: 'fed',
 2484: 'fine',
 4030: 'marry',
 5145: 'proposed',
 3882: 'look',
 2285: 'exact',
 5537: 'ring',
 7185: 'wanted',
 4072: 'maybe',
 4907: 'pinterest',
 4686: 'page',
 5830: 'sent',
 595: 'best',
 2649: 'friend',
 5820: 'send',
 4908: 'pinterested',
 2207: 'engaged',
 5686: 'saturday',
 762: 'bought',
 2015: 'dress',
 2580: 'following',
 6916: 'tuesday',
 6877: 'tried',
 5318: 'ready',
 5542: 'ripe',
 5594: 'rotten',
 489: 'banana',
 6505: 'surprised',
 4557: 'offstage',
 1387: 'completely',
 5352: 'recognize',
 4837: 'personality',
 6140: 'soft',
 4513: 'nurturing',
 1964: 'domestic',
 7257: 'weve',
 3465: 'ive',
 4679: 'packed',
 3929: 'lunch',
 6006: 'single',
 3064: 'hed',
 1791: 'dependent',
 2848: 'graduated',
 2423: 'feed',
 2824: 'goodness',
 3053: 'heart',
 3427: 'investment',
 2480: 'financial',
 5316: 'reading',
 738: 'book',
 5902: 'sheryl',
 5666: 'sandberg',
 5903: 'shes',
 1479: 'coo',
 2353: 'facebook',
 7410: 'wrote',
 5535: 'riled',
 994: 'careers',
 6569: 'talking',
 1079: 'challenge',
 6014: 'sit',
 6554: 'table',
 5545: 'rise',
 3745: 'lean',
 3806: 'lie',
 7184: 'want',
 2437: 'feminism',
 3526: 'job',
 7050: 'used',
 6088: 'smart',
 1460: 'continue',
 2064: 'dumb',
 1061: 'century',
 2913: 'guess',
 6316: 'stay',
 6109: 'snacks',
 7207: 'watch',
 2161: 'ellen',
 6435: 'stupid',
 5319: 'real',
 653: 'bitch',
 5616: 'ruined',
 2317: 'expected',
 3049: 'hear',
 4870: 'phrase',
 1984: 'doubleincome',
 3212: 'household',
 7038: 'upset',
 1363: 'comments',
 4616: 'options',
 2636: 'free',
 7025: 'unscheduled',
 7027: 'unsupervised',
 3306: 'importantly',
 6236: 'sponsored',
 5914: 'shittier',
 2583: 'food',
 2087: 'earn',
 3454: 'ita',
 7170: 'walk',
 6680: 'theyll',
 3559: 'judgmental',
 3215: 'housewives',
 6386: 'street',
 3214: 'housewife',
 7172: 'walking',
 4044: 'massages',
 3928: 'lululemon',
 4711: 'pants',
 2746: 'genius',
 5487: 'retiredi',
 7403: 'write',
 2644: 'fresh',
 713: 'boat',
 6: 'abc',
 2877: 'great',
 1546: 'coworkers',
 7405: 'writing',
 6635: 'terms',
 3527: 'jobs',
 4553: 'office',
 6034: 'skin',
 5773: 'seat',
 7049: 'use',
 6766: 'toilet',
 4713: 'paper',
 1539: 'cover',
 6739: 'times',
 5643: 'sadass',
 4085: 'meal',
 4584: 'oneply',
 5197: 'purposely',
 1861: 'difficult',
 5179: 'pull',
 6905: 'try',
 5303: 'ration',
 1369: 'communist',
 2128: 'effective',
 1763: 'dehydrates',
 7328: 'wiping',
 1803: 'desert',
 3842: 'literally',
 6193: 'spat',
 1710: 'days',
 115: 'ago',
 3943: 'macgyver',
 443: 'baby',
 7326: 'wipe',
 4245: 'moisten',
 449: 'backfired',
 2487: 'fingers',
 834: 'broke',
 1866: 'digitally',
 6347: 'stimulated',
 1970: 'doo',
 2488: 'finish',
 5631: 'rushed',
 4719: 'paranoid',
 5923: 'shoes',
 6991: 'underneath',
 6277: 'stall',
 1535: 'courtneys',
 3839: 'listening',
 7165: 'waiting',
 6740: 'timing',
 3247: 'hurry',
 2428: 'feels',
 935: 'caked',
 3877: 'long',
 1684: 'dare',
 5744: 'scratch',
 6997: 'underwear',
 2196: 'end',
 3885: 'looks',
 2827: 'goonies',
 4322: 'muffle',
 7384: 'worry',
 7096: 'velocity',
 6259: 'squeeze',
 1132: 'cheeks',
 6497: 'sure',
 6074: 'slow',
 6323: 'steady',
 4676: 'pace',
 7019: 'unpredictable',
 4473: 'noise',
 6456: 'suddenly',
 2246: 'escapes',
 828: 'brings',
 1746: 'deep',
 5876: 'shame',
 695: 'blow',
 2107: 'echo',
 5500: 'reverberate',
 2201: 'ends',
 2959: 'hallways',
 7210: 'watching',
 4432: 'netflix',
 3437: 'ipad',
 747: 'boring',
 5450: 'repressed',
 5913: 'shits',
 3838: 'listen',
 4960: 'podcasts',
 4925: 'planet',
 7187: 'wantyou',
 1930: 'distracting',
 3894: 'lose',
 5471: 'respect',
 3142: 'holds',
 6171: 'sort',
 1577: 'credence',
 3050: 'heard',
 4426: 'nerve',
 490: 'bananas',
 2883: 'green',
 479: 'ballet',
 2532: 'flats',
 2407: 'fatherinlaw',
 6016: 'sitdown',
 5346: 'recently',
 6567: 'talk',
 5157: 'provide',
 1163: 'children',
 5102: 'privileged',
 1161: 'childhood',
 6618: 'telling',
 1471: 'conversation',
 6158: 'son',
 6993: 'understand',
 2088: 'earning',
 1186: 'choose',
 5479: 'rest',
 1194: 'chose',
 5130: 'promise',
 2086: 'early',
 5488: 'retirement',
 4092: 'meant',
 1856: 'dieting',
 2104: 'eating',
 2648: 'fried',
 1156: 'chicken',
 2677: 'fulfilling',
 1814: 'destiny',
 1211: 'circle',
 2349: 'eyelashes',
 4317: 'mrs',
 4682: 'pacman',
 3781: 'lets',
 5364: 'redecoratei',
 1913: 'disgusting',
 4842: 'pervert',
 2894: 'gross',
 2477: 'filthy',
 228: 'animal',
 6296: 'started',
 5008: 'porn',
 7446: 'young',
 106: 'age',
 2994: 'happens',
 7455: 'yyou',
 5970: 'sicker',
 3288: 'images',
 1565: 'crave',
 3407: 'internet',
 7444: 'youi',
 3275: 'idiot',
 5324: 'realize',
 7251: 'went',
 1558: 'craigslist',
 5024: 'posted',
 6745: 'tiny',
 2435: 'female',
 5791: 'seeking',
 206: 'anal',
 1560: 'crash',
 3981: 'male',
 3040: 'heads',
 7011: 'universe',
 6001: 'simultaneously',
 2336: 'explode',
 2630: 'freaked',
 5713: 'scared',
 4690: 'pain',
 131: 'aint',
 7215: 'wax',
 2348: 'eyebrows',
 6173: 'sorts',
 1570: 'crazy',
 1842: 'dick',
 2277: 'evil',
 5783: 'secrets',
 3808: 'lies',
 5835: 'sephora',
 5210: 'puts',
 6688: 'thinking',
 1658: 'dad',
 1700: 'dave',
 2269: 'eventually',
 1091: 'change',
 1123: 'cheat',
 3404: 'interesting',
 3144: 'holes',
 7445: 'youll',
 5862: 'sexually',
 54: 'active',
 5481: 'result',
 3843: 'little',
 652: 'bit',
 6393: 'stretched',
 2479: 'finally',
 2434: 'felt',
 1088: 'chance',
 3961: 'magical',
 2392: 'fantasy',
 5021: 'possible',
 1897: 'discover',
 5147: 'prostate',
 1434: 'conqueror',
 3027: 'havent',
 6859: 'treat',
 6781: 'tonight',
 3845: 'live',
 7440: 'yolo',
 6116: 'sneak',
 5206: 'pushpush',
 6929: 'tushtush',
 364: 'atari',
 5466: 'resistance',
 6262: 'squirmy',
 7381: 'wormy',
 6720: 'thumb',
 6448: 'succeed',
 2727: 'gay',
 2414: 'fear',
 6927: 'turns',
 2250: 'especially',
 4150: 'metamorphosizes',
 4945: 'pleasure',
 2346: 'eye',
 1898: 'discovered',
 4466: 'nirvana',
 3682: 'lady',
 1267: 'clit',
 2351: 'eyes',
 3891: 'lord',
 5536: 'rim',
 7001: 'unfortunately',
 2634: 'freaky',
 341: 'asked',
 6191: 'spank',
 1951: 'does',
 21: 'abuse',
 6414: 'strongheaded',
 3906: 'loudmouthed',
 1063: 'ceos',
 5597: 'roughed',
 7186: 'wants',
 1466: 'control',
 5547: 'risk',
 1181: 'choke',
 6748: 'tired',
 750: 'boss',
 556: 'bedroom',
 4290: 'motherfucker',
 3298: 'impact',
 487: 'ban',
 752: 'bossy',
 2154: 'elementary',
 5726: 'schools',
 5859: 'sexist',
 780: 'boys',
 3386: 'instead',
 5705: 'saying',
 6494: 'supposed',
 2301: 'executive',
 3741: 'leadership',
 6033: 'skills',
 5599: 'roundabout',
 1627: 'cunt',
 2481: 'financially',
 1069: 'certain',
 4965: 'point',
 1527: 'couple',
 1350: 'comfortably',
 94: 'afford',
 6059: 'sliced',
 3993: 'mango',
 2584: 'foods',
 3327: 'income',
 785: 'bracket',
 6406: 'striving',
 7452: 'youve',
 4370: 'named',
 4468: 'noah',
 5339: 'rebecca',
 3648: 'kiwi',
 1681: 'danielle',
 4904: 'pineapple',
 10: 'able',
 6410: 'stroll',
 5974: 'sidewalk',
 5224: 'quarter',
 5089: 'princess',
 7051: 'useful',
 88: 'advice',
 841: 'brothers',
 6013: 'sisters',
 4693: 'paintballing',
 7119: 'vietnam',
 7104: 'veteran',
 5848: 'seven',
 2945: 'half',
 4271: 'months',
 5057: 'pregnant',
 5299: 'rare',
 1352: 'comic',
 4826: 'perform',
 1353: 'comics',
 2737: 'generally',
 1017: 'case',
 7237: 'week',
 444: 'babys',
 4888: 'piece',
 240: 'annoying',
 1662: 'dads',
 398: 'audience',
 3107: 'hilarious',
 3273: 'identify',
 2377: 'fame',
 6532: 'swells',
 5403: 'relatable',
 6455: 'sudden',
 1103: 'chapping',
 4464: 'nipples',
 2424: 'feeding',
 7224: 'wearing',
 2662: 'frozen',
 1838: 'diaper',
 4409: 'needs',
 5953: 'shredding',
 2990: 'happen',
 6283: 'standup',
 6450: 'successful',
 2384: 'famous',
 1895: 'discouraged',
 3028: 'having',
 3620: 'kid',
 3687: 'lame',
 6317: 'stayathome',
 2011: 'dream',
 6973: 'ultimate',
 7351: 'won',
 3660: 'knowanother',
 1896: 'discouraging',
 6852: 'travel',
 380: 'attached',
 1855: 'dies',
 1757: 'definitely',
 2909: 'guaranteed',
 634: 'billion',
 6928: 'turtle',
 ...}

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [32]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.007*"shit" + 0.005*"love" + 0.005*"want" + 0.005*"hes" + 0.005*"fuck" + 0.005*"good" + 0.005*"life" + 0.004*"man" + 0.004*"going" + 0.004*"didnt"'),
 (1,
  '0.009*"fucking" + 0.006*"say" + 0.006*"theyre" + 0.006*"fuck" + 0.005*"went" + 0.005*"day" + 0.005*"going" + 0.005*"cause" + 0.005*"shit" + 0.005*"thing"')]

In [33]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.007*"fucking" + 0.006*"fuck" + 0.006*"going" + 0.006*"say" + 0.006*"theyre" + 0.005*"cause" + 0.005*"good" + 0.005*"thing" + 0.005*"really" + 0.005*"life"'),
 (1,
  '0.007*"love" + 0.007*"bo" + 0.006*"stuff" + 0.006*"repeat" + 0.005*"want" + 0.004*"fucking" + 0.004*"cos" + 0.004*"eye" + 0.004*"um" + 0.004*"contact"'),
 (2,
  '0.008*"fucking" + 0.008*"shit" + 0.006*"didnt" + 0.005*"say" + 0.005*"hes" + 0.005*"little" + 0.005*"fuck" + 0.005*"did" + 0.004*"theyre" + 0.004*"day"')]

In [34]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.010*"fucking" + 0.008*"fuck" + 0.007*"shit" + 0.006*"good" + 0.006*"theyre" + 0.005*"thing" + 0.005*"man" + 0.005*"say" + 0.005*"theres" + 0.005*"hes"'),
 (1,
  '0.001*"fucking" + 0.000*"fuck" + 0.000*"want" + 0.000*"hes" + 0.000*"going" + 0.000*"man" + 0.000*"shit" + 0.000*"cause" + 0.000*"goes" + 0.000*"say"'),
 (2,
  '0.006*"say" + 0.006*"fucking" + 0.006*"going" + 0.005*"want" + 0.005*"didnt" + 0.005*"hes" + 0.005*"did" + 0.004*"little" + 0.004*"theyre" + 0.004*"shit"'),
 (3,
  '0.008*"shit" + 0.006*"ok" + 0.005*"lot" + 0.005*"gotta" + 0.005*"wanna" + 0.004*"husband" + 0.004*"cause" + 0.004*"day" + 0.004*"women" + 0.003*"pregnant"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Attempt #2 (Nouns Only)


One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

Number
Tag
Description
1.	CC	Coordinating conjunction
2.	CD	Cardinal number
3.	DT	Determiner
4.	EX	Existential there
5.	FW	Foreign word
6.	IN	Preposition or subordinating conjunction
7.	JJ	Adjective
8.	JJR	Adjective, comparative
9.	JJS	Adjective, superlative
10.	LS	List item marker
11.	MD	Modal
12.	NN	Noun, singular or mass
13.	NNS	Noun, plural
14.	NNP	Proper noun, singular
15.	NNPS	Proper noun, plural
16.	PDT	Predeterminer
17.	POS	Possessive ending
18.	PRP	Personal pronoun
19.	PRP$	Possessive pronoun
20.	RB	Adverb
21.	RBR	Adverb, comparative
22.	RBS	Adverb, superlative
23.	RP	Particle
24.	SYM	Symbol
25.	TO	to
26.	UH	Interjection
27.	VB	Verb, base form
28.	VBD	Verb, past tense
29.	VBG	Verb, gerund or present participle
30.	VBN	Verb, past participle
31.	VBP	Verb, non-3rd person singular present
32.	VBZ	Verb, 3rd person singular present
33.	WDT	Wh-determiner
34.	WP	Wh-pronoun
35.	WP$	Possessive wh-pronoun
36.	WRB	Wh-adverb

In [61]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [62]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                transcript
ali      ladies and gentlemen please welcome to the sta...
anthony  thank you thank you thank you san francisco th...
bill      all right thank you thank you very much thank...
bo       bo what old macdonald had a farm e i e i o and...
dave     this is dave he tells dirty jokes for a living...
hasan      whats up davis whats up im home i had to bri...
jim         ladies and gentlemen please welcome to the ...
joe         ladies and gentlemen welcome joe rogan  wha...
john     all right petunia wish me luck out there you w...
louis    introfade the music out lets roll hold there l...
mike     wow hey thank you thanks thank you guys hey se...
ricky    hello hello how you doing great thank you wow ...

In [63]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                transcript
ali      ladies gentlemen stage ali hi thank hello na s...
anthony  thank thank people i em i francisco city world...
bill     thank thank pleasure georgia area oasis i june...
bo       macdonald farm e i o farm pig e i i snort macd...
dave     jokes living stare work profound train thought...
hasan    whats davis whats home i netflix la york i son...
jim      ladies gentlemen stage mr jim jefferies thank ...
joe      ladies gentlemen joe fuck thanks phone fuckfac...
john     petunia thats hello hello chicago thank crowd ...
louis    music lets lights lights thank i i place place...
mike     wow hey thanks look insane years everyone i id...
ricky    hello thank fuck thank im gon youre weve money...

In [67]:
CountVectorizer(stop_words)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8',
                input=frozenset({'a', 'about', 'above', 'across', 'after',
                                 'afterwards', 'again', 'against', 'all',
                                 'almost', 'alone', 'along', 'already', 'also',
                                 'although', 'always', 'am', 'among', 'amongst',
                                 'amoungst', 'amount', 'an', 'and', 'another',
                                 'any', 'anyhow', 'anyone', 'anything',
                                 'anyway', 'anywhere', ...}),
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [75]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aah,abc,abcs,ability,abortion,abortions,abuse,...,yummy,ze,zealand,zee,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,2,0,0,...,0,0,10,0,0,0,0,0,0,0
bill,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0
bo,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dave,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
ricky,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [81]:
# Create the gensim corpus
# TDM -> SPARSE -> CORPUS
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [82]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.011*"day" + 0.010*"thing" + 0.007*"man" + 0.007*"fuck" + 0.007*"shit" + 0.006*"hes" + 0.006*"cause" + 0.006*"way" + 0.006*"guy" + 0.006*"life"'),
 (1,
  '0.008*"shit" + 0.008*"life" + 0.007*"hes" + 0.007*"man" + 0.006*"lot" + 0.006*"way" + 0.006*"cause" + 0.006*"thing" + 0.005*"day" + 0.005*"guy"')]

In [83]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.007*"way" + 0.007*"stuff" + 0.006*"clinton" + 0.006*"bo" + 0.006*"man" + 0.006*"day" + 0.006*"repeat" + 0.005*"mom" + 0.005*"hes" + 0.005*"eye"'),
 (1,
  '0.009*"dad" + 0.006*"life" + 0.006*"shes" + 0.006*"night" + 0.006*"point" + 0.006*"school" + 0.006*"way" + 0.006*"parents" + 0.005*"cause" + 0.005*"girl"'),
 (2,
  '0.011*"shit" + 0.011*"thing" + 0.010*"day" + 0.009*"man" + 0.009*"fuck" + 0.009*"life" + 0.008*"hes" + 0.007*"cause" + 0.007*"lot" + 0.007*"guy"')]

In [84]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.009*"joke" + 0.008*"thing" + 0.008*"years" + 0.008*"day" + 0.007*"hes" + 0.007*"id" + 0.006*"things" + 0.005*"jenner" + 0.005*"nuts" + 0.005*"woman"'),
 (1,
  '0.011*"dad" + 0.008*"day" + 0.007*"life" + 0.007*"joke" + 0.006*"school" + 0.006*"mom" + 0.006*"stuff" + 0.006*"man" + 0.006*"way" + 0.005*"shes"'),
 (2,
  '0.008*"cause" + 0.008*"way" + 0.008*"day" + 0.008*"thing" + 0.008*"guy" + 0.007*"gon" + 0.007*"shit" + 0.007*"hes" + 0.007*"kind" + 0.006*"hey"'),
 (3,
  '0.012*"shit" + 0.011*"man" + 0.010*"fuck" + 0.010*"thing" + 0.009*"life" + 0.009*"cause" + 0.009*"lot" + 0.009*"day" + 0.009*"women" + 0.008*"hes"')]

## Attempt #3 (Nouns and Adjectives)

In [85]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [86]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                transcript
ali      ladies gentlemen welcome stage ali wong hi wel...
anthony  thank san francisco thank good people surprise...
bill     right thank thank pleasure greater atlanta geo...
bo       old macdonald farm e i i o farm pig e i i snor...
dave     dirty jokes living stare most hard work profou...
hasan    whats davis whats im home i netflix special la...
jim      ladies gentlemen welcome stage mr jim jefferie...
joe      ladies gentlemen joe fuck san francisco thanks...
john     right petunia august thats good right hello he...
louis    music lets lights lights thank much i i i nice...
mike     wow hey thanks hey seattle nice look crazy ins...
ricky    hello great thank fuck thank lovely welcome im...

In [87]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aah,abc,abcs,ability,abject,able,...,ze,zealand,zee,zeppelin,zero,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,1,1,1,0,0
bo,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
dave,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,1,...,0,0,2,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,1,0

In [88]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))
# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [89]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.005*"mom" + 0.005*"parents" + 0.003*"hasan" + 0.003*"clinton" + 0.003*"jenny" + 0.003*"friend" + 0.003*"york" + 0.003*"door" + 0.003*"president" + 0.002*"dick"'),
 (1,
  '0.006*"joke" + 0.003*"gun" + 0.003*"son" + 0.003*"jokes" + 0.003*"ass" + 0.003*"bo" + 0.002*"hell" + 0.002*"um" + 0.002*"gay" + 0.002*"guns"')]

In [90]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"joke" + 0.004*"bo" + 0.003*"jenny" + 0.003*"repeat" + 0.003*"comedy" + 0.003*"jokes" + 0.003*"stupid" + 0.003*"eye" + 0.003*"sad" + 0.003*"anthony"'),
 (1,
  '0.005*"mom" + 0.004*"hasan" + 0.004*"ahah" + 0.003*"son" + 0.003*"husband" + 0.003*"gay" + 0.003*"parents" + 0.003*"door" + 0.003*"nigga" + 0.003*"brown"'),
 (2,
  '0.005*"joke" + 0.004*"ass" + 0.004*"dog" + 0.004*"clinton" + 0.003*"guns" + 0.003*"mom" + 0.003*"parents" + 0.003*"wife" + 0.003*"tit" + 0.003*"food"')]

In [91]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.005*"joke" + 0.004*"parents" + 0.004*"mom" + 0.004*"comedy" + 0.004*"bo" + 0.003*"hasan" + 0.003*"jenny" + 0.003*"um" + 0.003*"guns" + 0.003*"class"'),
 (1,
  '0.007*"ahah" + 0.005*"husband" + 0.005*"gay" + 0.005*"nigga" + 0.004*"ok" + 0.004*"asian" + 0.003*"pregnant" + 0.003*"son" + 0.003*"young" + 0.003*"oj"'),
 (2,
  '0.005*"joke" + 0.003*"stupid" + 0.003*"nuts" + 0.003*"hell" + 0.003*"religion" + 0.003*"jenner" + 0.003*"dick" + 0.003*"jesus" + 0.003*"dead" + 0.003*"gun"'),
 (3,
  '0.007*"clinton" + 0.006*"mom" + 0.005*"tit" + 0.005*"cow" + 0.005*"parents" + 0.005*"wife" + 0.004*"ha" + 0.004*"president" + 0.004*"dog" + 0.004*"food"')]

## Identify Topics in Each Document

In [92]:
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.009*"joke" + 0.005*"nuts" + 0.005*"jenner" + 0.005*"chimp" + 0.005*"hampstead" + 0.004*"rape" + 0.004*"twitter" + 0.004*"tweet" + 0.004*"jane" + 0.004*"doctor"'),
 (1,
  '0.008*"mom" + 0.006*"parents" + 0.005*"joke" + 0.004*"hasan" + 0.004*"clinton" + 0.004*"anthony" + 0.003*"york" + 0.003*"tit" + 0.003*"cow" + 0.003*"entire"'),
 (2,
  '0.004*"jenny" + 0.003*"religion" + 0.003*"husband" + 0.003*"stupid" + 0.003*"sense" + 0.003*"dick" + 0.003*"ass" + 0.003*"texas" + 0.002*"morning" + 0.002*"ok"'),
 (3,
  '0.006*"bo" + 0.005*"repeat" + 0.005*"ahah" + 0.005*"guns" + 0.005*"um" + 0.004*"son" + 0.004*"gay" + 0.004*"eye" + 0.004*"contact" + 0.003*"ass"')]

These four topics look pretty decent. Let's settle on these for now.
* Topic 0: mom, parents
* Topic 1: husband, wife
* Topic 2: guns
* Topic 3: profanity

In [93]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(2, 'ali'),
 (1, 'anthony'),
 (2, 'bill'),
 (3, 'bo'),
 (3, 'dave'),
 (1, 'hasan'),
 (3, 'jim'),
 (2, 'joe'),
 (1, 'john'),
 (1, 'louis'),
 (2, 'mike'),
 (0, 'ricky')]

For a first pass of LDA, these kind of make sense to me, so we'll call it a day for now.
* Topic 0: mom, parents [Anthony, Hasan, Louis, Ricky]
* Topic 1: husband, wife [Ali, John, Mike]
* Topic 2: guns [Bill, Bo, Jim]
* Topic 3: profanity [Dave, Joe]